{% load static %}

<link href="{% static 'css/tabler.min.css' %}" rel="stylesheet"/>
<link href="{% static 'css/tabler-flags.min.css' %}" rel="stylesheet"/>
<link href="{% static 'css/tabler-payments.min.css' %}" rel="stylesheet"/>
<link href="{% static 'css/tabler-vendors.min.css' %}" rel="stylesheet"/>
<link href="{% static 'css/demo.min.css' %}" rel="stylesheet"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">

<body>
{% include "adminnavbar.html" %}

<script src="./dist/js/demo-theme.min.js?1692870487"></script>
  <div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
      <div class="container-xl">
        <div class="row g-2 align-items-center">
          <div class="col">
            <h2 class="page-title">
              Faculty Loading
            </h2>
          </div>
        </div>
      </div>
    </div>
    <!-- Page body -->
    <div class="page-body">
      <div class="container-xl">
        <div class="row row-cards">
          <div class="col-lg-8">
            <div class="card">
              <div class="card-body mt-2">
                <div class="row align-items-center">
                  <div class="col">
                    <h2 class="card-title">
                      Faculty
                    </h2>
                  </div>
                  <div class="d-flex">
                    <div class="me-3">
                      <div class="input-icon">
                        <select class="form-select" style="width: 200px;" id="facultyDropdown">
                          <!-- Options will be dynamically added here -->
                        </select>
                      </div>
                    </div>
                    <button class="btn btn-primary" id="searchButton">
                      Search
                    </button>
                  </div>
                  <div class="col-12">
                    <div class="card mt-4">
                      <div class="card-body">
                        <!-- Placeholder spans for dynamic data -->
                        <div class="h2 mt-">
                          <span id="facultyName">Faculty Member</span>
                        </div>
                        <div class="mb-1">
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2 text-secondary" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M3 7m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z" />
                            <path d="M8 7v-2a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v2" />
                            <path d="M12 12l0 .01" />
                            <path d="M3 13a20 20 0 0 0 18 0" />
                          </svg>
                          <strong>Faculty Type:</strong>
                          <span id="facultyType">Not Set</span>
                        </div>
                        <div class="mb-1">
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2 text-secondary" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M3 7m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z" />
                            <path d="M8 7v-2a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v2" />
                            <path d="M12 12l0 .01" />
                            <path d="M3 13a20 20 0 0 0 18 0" />
                          </svg>
                          <strong>Rank:</strong>
                          <span id="rank">Not Set</span>
                        </div>
                        <div class="mb-1">
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2 text-secondary" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M3 7m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z" />
                            <path d="M8 7v-2a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v2" />
                            <path d="M12 12l0 .01" />
                            <path d="M3 13a20 20 0 0 0 18 0" />
                          </svg>
                          <strong>Remarks:</strong>
                          <span id="remarks">Not Set</span>
                        </div>
                        <div class="mb-1">
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2 text-secondary" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M3 7m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z" />
                            <path d="M8 7v-2a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v2" />
                            <path d="M12 12l0 .01" />
                            <path d="M3 13a20 20 0 0 0 18 0" />
                          </svg>
                          <strong>Units Allowed:</strong>
                          <span id="unitsAllowed">Not Set</span>
                        </div>
                        <div class="mb-1">
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2 text-secondary" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M3 7m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z" />
                            <path d="M8 7v-2a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v2" />
                            <path d="M12 12l0 .01" />
                            <path d="M3 13a20 20 0 0 0 18 0" />
                          </svg>
                          <strong>Preferred Schedule:</strong>
                          <span id="preferredSchedule">Not Set</span>
                        </div>
                        <div class="mb-1">
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2 text-secondary" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M3 7m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z" />
                            <path d="M8 7v-2a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v2" />
                            <path d="M12 12l0 .01" />
                            <path d="M3 13a20 20 0 0 0 18 0" />
                          </svg>
                          <strong>Specialization:</strong>
                          <span id="Specialization">Not Set</span>
                        </div>

                        <div class="card-body">
                          <h3 class="card-title">Course Load</h3>
                          <div class="col-12">
                            <div class="card">
                              <div class="table-responsive">
                                <table class="table card-table table-vcenter text-nowrap datatable">
                                  <thead>
                                    <tr>
                                      <th>Course Code</th>
                                      <th>Course Name</th>
                                      <th>Units</th>
                                      <th>Lecture</th>
                                      <th>Lab</th>
                                      <th>Class</th>
                                      <th>Schedule</th>
                                      <th>Room</th>
                                      <th class="w-1">Action</th>
                                    </tr>
                                  </thead>
                                  <tbody id="courseLoadBody">
                                    <!-- Course load data will be dynamically added here -->
                                  </tbody>
                                </table>
                                <div class="col-12 mt-3 text-end">
                                  <button class="btn btn-primary" id="submit-btn">Submit</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
                <div class="card-body mt-2">
                    <div class="card-title">Course Load</div>
                    <div class="my-2 my-md-0 flex-grow-1 flex-md-grow-0 order-first order-md-last">
                        <!-- Adjusted size for dropdowns, buttons, and search input -->
                        <select class="form-select form-select-sm" id="acadyearDropdown">
                            <!-- Options will be dynamically added here -->
                        </select>
                        <select class="form-select form-select-sm" id="semesterDropdown">
                            <!-- Options will be dynamically added here -->
                        </select>
                        <input type="text" class="form-control form-control-sm" id="subjectCodeInput" placeholder="Subject Code">
                        <button class="btn btn-primary btn-sm" id="scheduleSearchButton">
                            Search
                        </button>
                    </div>
                    <div class="row row-cards mt-2" id="cardContainer">
                        <!-- Cards will be dynamically added here -->
                    </div>
                </div>
            </div>
        </div>
  </div>
  <!-- Libs JS -->
  <script src="./dist/libs/apexcharts/dist/apexcharts.min.js?1692870487" defer></script>
  <script src="./dist/libs/jsvectormap/dist/js/jsvectormap.min.js?1692870487" defer></script>
  <script src="./dist/libs/jsvectormap/dist/maps/world.js?1692870487" defer></script>
  <script src="./dist/libs/jsvectormap/dist/maps/world-merc.js?1692870487" defer></script>
  <!-- Tabler Core -->
  <script src="./dist/js/tabler.min.js?1692870487" defer></script>
  <script src="./dist/js/demo.min.js?1692870487" defer></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
  <script src="{% static 'js/common.js' %}" defer></script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
        if (!localStorage.getItem('accessToken')) {
            // Redirect to login if token is not present
            window.location.href = "/index";
        }
    });

    function getToken() {
        return localStorage.getItem('accessToken');
    }

    $(document).ready(function () {
        const token = getToken();

        // Function to fetch faculties and populate Select2 dropdown
        function fetchFaculties() {
            $.ajax({
                url: "https://pupqcfis-com.onrender.com/api/all/FISFaculty",
                type: "GET",
                success: function (response) {
                    // Populate the dropdown with faculty names and last names
                    const facultyDropdown = $("#facultyDropdown");
                    facultyDropdown.empty(); // Clear existing options

                    if (response && response.Faculties && Object.keys(response.Faculties).length > 0) {
                        // Iterate over faculties and add them to the dropdown
                        Object.values(response.Faculties).forEach(function (faculty) {
                            const fullName = `${faculty.FirstName} ${faculty.LastName}`;
                            facultyDropdown.append(`<option value="${faculty.FacultyId}">${fullName}</option>`);
                        });

                        // Initialize Select2 on the dropdown
                        facultyDropdown.select2({
                            width: '100%', // Adjust the width as needed
                            placeholder: 'Search for a faculty',
                            allowClear: true // Allow clearing the selection
                        });
                    } else {
                        console.log('No data to display.');
                    }
                },
                error: function (xhr, status, error) {
                    console.error("Error fetching faculties:", xhr.responseText);
                }
            });
        }

        // Fetch faculties on page load
        fetchFaculties();

        // Function to populate academic year dropdown
        function populateAcademicYearDropdown() {
            $.ajax({
                url:"https://schedulerserver-6e565d991c10.herokuapp.com/academicyears/getacadyr",
                type: 'GET',
                headers: {
                    'Authorization': `Bearer ${token}`
                },
                success: function (response) {
                    if (response.data && response.data.length > 0) {
                        response.data.forEach(function (academicYear) {
                            $('#acadyearDropdown').append(`<option value="${academicYear.id}" data-id="${academicYear.id}">${academicYear.name}</option>`);
                        });
                    } else {
                        console.log('No academic years found.');
                    }
                },
                error: function (xhr, status, error) {
                    console.log('Error fetching academic years:', xhr.responseText);
                }
            });
        }

        // Function to populate semester dropdown
        function populateSemesterDropdown() {
            $.ajax({
                url: "https://schedulerserver-6e565d991c10.herokuapp.com/semesters/getsemester",
                type: 'GET',
                headers: {
                    'Authorization': `Bearer ${token}`
                },
                success: function (response) {
                    if (response.data && response.data.length > 0) {
                        response.data.forEach(function (semester) {
                            $('#semesterDropdown').append(`<option value="${semester.id}" data-id="${semester.id}">${semester.name}</option>`);
                        });
                    } else {
                        console.log('No semesters found.');
                    }
                },
                error: function (xhr, status, error) {
                    console.log('Error fetching semesters:', xhr.responseText);
                }
            });
        }

        // Fetch academic years and populate the dropdown
        populateAcademicYearDropdown();

        // Fetch semesters and populate the dropdown
        populateSemesterDropdown();
        // Function to fetch and display schedule search results
// Function to search schedules based on academic year, semester, and subject code
function searchSchedule() {
  const acadYearId = $("#acadyearDropdown option:selected").data("id");
  const semesterId = $("#semesterDropdown option:selected").data("id");
  const subjectCode = $("#subjectCodeInput").val();

  // Clear existing cards
  $("#cardContainer").empty();

  // Declare classDetails and roomDetails variables outside the AJAX call
  let classDetailsArray = [];
  let roomDetailsArray = [];
  let formattedTimeArray = [];

  // Make an AJAX request to the FastAPI endpoint
  $.ajax({
    url: `https://schedulerserver-6e565d991c10.herokuapp.com/manageschedules/filtersched-by-subject-code`,
    type: "GET",
    data: {
      acadyear_id: acadYearId,
      semester_id: semesterId,
      subject_code: subjectCode
    },
    success: function (response) {
      // Check if there are results
      if (response && response.length > 0) {
        // Iterate over the schedule results and create cards
        response.forEach(function (schedule) {
          // Make separate requests to get class and room details based on IDs
          const classRequest = $.ajax({
            type: "GET",
            url: `https://schedulerserver-6e565d991c10.herokuapp.com/classes/${schedule.class_id}`,
            headers: {
              'Authorization': `Bearer ${getToken()}`
            },
          });

          const roomRequest = $.ajax({
            type: "GET",
            url: `https://schedulerserver-6e565d991c10.herokuapp.com/rooms/${schedule.room_id}`,
            headers: {
              'Authorization': `Bearer ${getToken()}`
            },
          });

          // Store the promises in arrays
          classDetailsArray.push(classRequest);
          roomDetailsArray.push(roomRequest);

          // Format start and end times
          const formattedStartTime = formatTime(schedule.start_time);
          const formattedEndTime = formatTime(schedule.end_time);
          formattedTimeArray.push({ startTime: formattedStartTime, endTime: formattedEndTime });
        });

        // Wait for all AJAX requests to complete
        $.when.apply($, classDetailsArray.concat(roomDetailsArray)).done(function () {
          // arguments contains the resolved data from each AJAX request
          const classDetails = Array.from(arguments).slice(0, response.length).map(data => data[0].data || {});
          const roomDetails = Array.from(arguments).slice(response.length).map(data => data[0].data || {});

          // Now you can use classDetails and roomDetails to update your UI
          response.forEach(function (schedule, index) {
            const classDetail = classDetails[index];
            const roomDetail = roomDetails[index];
            const formattedTime = formattedTimeArray[index];

            const cardHtml = `
              <div class="col-md-12">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">${schedule.subject_code}</h5>
                    <p class="card-text">
                      <strong>Description:</strong> ${schedule.subject_name}<br>
                      <strong>Lecture Hours:</strong> ${schedule.lecture_hours || 'N/A'}<br>
                      <strong>Lab Hours:</strong> ${schedule.lab_hours || 'N/A'}<br>
                      <strong>Units:</strong> ${schedule.units}<br>
                      <strong>Class:</strong> ${classDetail.classname || 'N/A'}<br>
                      <strong>Day:</strong> ${schedule.day}<br>
                      <strong>Schedule:</strong> ${formattedTime.startTime} - ${formattedTime.endTime}<br>
                      <strong>Room:</strong> ${roomDetail.room_number || 'N/A'}
                    </p>
                    <button class="btn btn-primary assignButton" data-schedule-index="${index}">Assign</button>
                  </div>
                </div>
              </div>
            `;

            // Append the card to the container
            $("#cardContainer").append(cardHtml);
          });

          // Add a delegated event listener for the Assign button using a closure
          $("#cardContainer").off().on("click", ".assignButton", function () {
            // Find the corresponding schedule for the clicked button
            const clickedButton = $(this);
            const clickedScheduleIndex = clickedButton.data("schedule-index");
            const clickedSchedule = response[clickedScheduleIndex];

            // Use the captured schedule data for assignment
            const assignedSchedule = {
              subject_code: clickedSchedule.subject_code,
              subject_name: clickedSchedule.subject_name,
              units: clickedSchedule.units,
              lecture_hours: clickedSchedule.lecture_hours || 'N/A',
              lab_hours: clickedSchedule.lab_hours || 'N/A',
              class_name: classDetails[clickedScheduleIndex].classname || 'N/A',
              day: clickedSchedule.day,
              schedule: `${formattedTimeArray[clickedScheduleIndex].startTime} - ${formattedTimeArray[clickedScheduleIndex].endTime}`,
              room: roomDetails[clickedScheduleIndex].room_number || 'N/A'
            };

            // Append the assigned schedule to the Course Load table
            addToCourseLoadTable(assignedSchedule);

            // Optionally, remove the assigned schedule card from the UI
            clickedButton.closest('.card').remove();
          });
        });
      } else {
        // Display a message if no results are found
        $("#cardContainer").html('<p>No schedules found for the given filters.</p>');
      }
    },
    error: function (xhr, status, error) {
      console.error("Error fetching schedule details:", xhr.responseText);
    }
  });
}

// Function to append assigned schedule to the Course Load table
function addToCourseLoadTable(assignedSchedule) {
  // Format the schedule data and append it to the Course Load table
  const rowHtml = `
    <tr>
      <td>${assignedSchedule.subject_code}</td>
      <td>${assignedSchedule.subject_name}</td>
      <td>${assignedSchedule.units}</td>
      <td>${assignedSchedule.lecture_hours}</td>
      <td>${assignedSchedule.lab_hours}</td>
      <td>${assignedSchedule.class_name}</td>
      <td>${assignedSchedule.day} ${assignedSchedule.schedule}</td>
      <td>${assignedSchedule.room}</td>
      <td><button class="btn btn-danger btn-sm removeButton">Remove</button></td>
    </tr>
  `;

  // Append the row to the Course Load table
  $("#courseLoadBody").append(rowHtml);

  // Add a click event listener for the Remove button
  $(".removeButton").on("click", function () {
    // Remove the assigned schedule from the Course Load table
    $(this).closest('tr').remove();
  });
}

// Assign the searchSchedule function to the button click event
$("#scheduleSearchButton").on("click", function () {
  searchSchedule();
});

// Function to format time (e.g., convert 07:00:00 to 7:00 AM)
function formatTime(time) {
  const formattedTime = new Date(`1970-01-01T${time}`);
  return formattedTime.toLocaleTimeString([], { hour: 'numeric', minute: '2-digit' });
}

        function searchFaculty() {
            const facultyId = $("#facultyDropdown").val();

            $.ajax({
                url: `https://pupqcfis-com.onrender.com/api/FISFaculty/${facultyId}`,
                type: "GET",
                success: function (response) {
                    // Update the UI with faculty details
                    $("#facultyName").text(`${response.Faculties.FirstName} ${response.Faculties.LastName}`);
                    $("#facultyType").text(response.Faculties.FacultyType);
                    $("#rank").text(response.Faculties.Rank);
                    $("#remarks").text(response.Faculties.Remarks);
                    $("#unitsAllowed").text(response.Faculties.Units);
                    $("#preferredSchedule").text(response.Faculties.PreferredSchedule);
                    $("#Specialization").text(response.Faculties.Specialization);
                    // Add more lines to update other details as needed
                },
                error: function (xhr, status, error) {
                    console.error("Error fetching faculty details:", xhr.responseText);
                }
            });
        }
        // Function to submit course load data
function submitCourseLoad() {
  // 1. Capture the selected academic year and semester from the dropdowns
  const acadYearId = $("#acadyearDropdown").val();
  const semesterId = $("#semesterDropdown").val();

  // 2. Capture the faculty details (name, type, rank)
  const facultyName = $("#facultyName").text();
  const facultyType = $("#facultyType").text();
  const rank = $("#rank").text();

  // 3. Capture the course load data from the table rows
  const courseLoadData = [];
  $("#courseLoadBody tr").each(function () {
      const rowData = {
          acadyear_id: acadYearId,
          semester_id: semesterId,
          facultyname: facultyName,
          facultystatus: facultyType,
          rank: rank,
          course_code: $(this).find("td:eq(0)").text(),
          course_description: $(this).find("td:eq(1)").text(),
          units: $(this).find("td:eq(2)").text(),
          lec: $(this).find("td:eq(3)").text(),
          lab: $(this).find("td:eq(4)").text(),
          classname: $(this).find("td:eq(5)").text(),
          schedule: $(this).find("td:eq(6)").text(),
          roomname: $(this).find("td:eq(7)").text(),
      };
      courseLoadData.push(rowData);
  });

  // 4. Make an AJAX request to submit the course load data
  $.ajax({
      url: "https://schedulerserver-6e565d991c10.herokuapp.com/facultyloadings/post",  // Replace with your actual backend URL
      type: "POST",
      contentType: "application/json",
      data: JSON.stringify({ facultyloadings: courseLoadData }),
      headers: {
          'Authorization': `Bearer ${getToken()}`
      },
      success: function (response) {
          // Handle the success response
          console.log("Course load submitted successfully:", response);
          // You may want to redirect or show a success message
          window.alert("Schedules assigned successfully!");
      },
      error: function (xhr, status, error) {
          // Handle the error response
          console.error("Error submitting course load:", xhr.responseText);
          // You may want to display an error message
          window.alert("Error occurred, please assign a schedule or try again");
      }
  });
}

// Assign the submitCourseLoad function to the button click event
$("#submit-btn").on("click", function () {
  submitCourseLoad();
});

        // Assign the searchFaculty function to the button click event
        $("#searchButton").on("click", function () {
            searchFaculty();
        });
    });
</script>



  </body>
  </html>