
{% load static %}

<link href="{% static 'css/tabler.min.css' %}" rel="stylesheet"/>
<link href="{% static 'css/tabler-flags.min.css' %}" rel="stylesheet"/>
<link href="{% static 'css/tabler-payments.min.css' %}" rel="stylesheet"/>
<link href="{% static 'css/tabler-vendors.min.css' %}" rel="stylesheet"/>
<link href="{% static 'css/demo.min.css' %}" rel="stylesheet"/>
<link href="{% static 'css/styles.css' %}" rel="stylesheet"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">


<body>
{% include "navbar.html" %}

<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
      <div class="container-xl">
        <div class="row g-2 align-items-center">
          <div class="col">
            <div class="mb-1">
              <ol class="breadcrumb" aria-label="breadcrumbs">
              <li class="breadcrumb-item"><a href="{% url 'view_schedule' %}">View Schedule</a></li>
              <li class="breadcrumb-item"><a href="{% url 'view_faculty' %}">Faculty schedule</a></li>
              </ol>
            </div>
            <h2 class="page-title" style="margin-bottom: 20px;">
              Faculty Schedule
            </h2>
          </div>
          <!-- Page title actions -->

  </div>
</div>
<div class="page-body">
<div class="container-xl">
<div class="col-12">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Search Class Schedule</h3>
    </div>
    <div class="card-body">
      <div class="row align-items-center">

        <div class="col-12 col-md-3">
          <div class="mb-3">
            <label class="form-label">Academic Year</label>
            <select type="text" class="form-select" id="academicyearDropdown" value="">
              <option value="" selected disabled>Select Academic Year</option>
            </select>
          </div>
        </div>

        <div class="col-12 col-md-3">
          <div class="mb-3">
            <label class="form-label">Semester</label>
            <select type="text" class="form-select" id="semesterDropdown" value="">
              <option value="" selected disabled>Select Semester</option>
            </select>
          </div>
        </div>

        <div class="col-12 col-md-3">
          <div class="mb-3">
            <label class="form-label">Faculty name</label>
            <select type="text" class="form-select" id="FacultyDropdown" value="">
              <option value="" selected disabled>Select Faculty</option>
            </select>
          </div>
        </div>
  

        
      <div class="col-12 mt-3 text-end mb-2">
        <a id="searchButton" class="btn btn-primary" target="_blank" rel="noopener">Search</a>
      </div>
      </div>
    </div>
  </div>
</div>


  
    <div class="container-xl mt-4">
      <div class="row g-2 align-items-center">
        <div class="col-auto ms-auto d-print-none">
          <button class="btn btn-primary" type="button" id="generate-pdf-new-page"><!-- Add this button -->
            <!-- Download SVG icon from http://tabler-icons.io/i/printer -->
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M17 17h2a2 2 0 0 0 2 -2v-4a2 2 0 0 0 -2 -2h-14a2 2 0 0 0 -2 2v4a2 2 0 0 0 2 2h2" /><path d="M17 9v-4a2 2 0 0 0 -2 -2h-6a2 2 0 0 0 -2 2v4" /><path d="M7 13m0 2a2 2 0 0 1 2 -2h6a2 2 0 0 1 2 2v4a2 2 0 0 1 -2 2h-6a2 2 0 0 1 -2 -2z" /></svg>
            Print Schedule
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Page body -->
  <div class="page-body">
    <div class="container-xl">
      <div class="card card-lg">
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <class_details>
                <strong> Faculty type: </strong><span id="facultytypeDetails"></span><br>
                <strong> Total units: </strong><span id="totalunitDetails"></span><br>
                <strong> Total Hours per week: </strong><span id="totalhoursDetails"></span><br>
              <class_details>
            </div>
            <div class="col-6 text-end">
              <class_details>
                <strong> Academic Year: </strong><span id="academicYearDetails"></span><br>
                <strong> Semester: </strong><span id="semesterDetails"></span><br>
              <class_details>
            </div>
            <div class="col-12">
              <hr class="my-1 mt-4"> 
              <h1 class="mb-0 text-center"><span id="Facultynamedetails"></span></h1>
              <hr class="my-1">
          </div>
          </div>
          <table class="table table-transparent table-responsive mt-5">
            <thead>
              <tr>
                  <th>Subject Code</th>
                  <th>Description</th>
                  <th class="text-center" style="width: 1%">Lec hrs</th>
                  <th class="text-center" style="width: 1%">Lab hrs</th>
                  <th class="text-center" style="width: 1%">Tuition hrs</th>
                  <th class="text-center" style="width: 1%">Credited units</th>
                  <th class="text-center">Section</th>
                  <th class="text-center">Day/Time</th>
                  <th class="text-center">Room no.</th>
              </tr>
          </thead>
            <tbody id="facultyLoadingTableBody">
              <tr>
              </tr>
            </tbody>
          </table>
          <p class="text-secondary text-center mt-5">You can download the file at the upper right corner of the page!</p>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer footer-transparent d-print-none">
    <div class="container-xl">
      <div class="row text-center align-items-center flex-row-reverse">
        <div class="col-lg-auto ms-lg-auto">
          <ul class="list-inline list-inline-dots mb-0">
            <li class="list-inline-item"><a href="https://tabler.io/docs" target="_blank" class="link-secondary" rel="noopener">Documentation</a></li>
            <li class="list-inline-item"><a href="./license.html" class="link-secondary">License</a></li>
            <li class="list-inline-item"><a href="https://github.com/tabler/tabler" target="_blank" class="link-secondary" rel="noopener">Source code</a></li>
            <li class="list-inline-item">
              <a href="https://github.com/sponsors/codecalm" target="_blank" class="link-secondary" rel="noopener">
                <!-- Download SVG icon from http://tabler-icons.io/i/heart -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon text-pink icon-filled icon-inline" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" /></svg>
                Sponsor
              </a>
            </li>
          </ul>
        </div>
        <div class="col-12 col-lg-auto mt-3 mt-lg-0">
          <ul class="list-inline list-inline-dots mb-0">
            <li class="list-inline-item">
              Copyright &copy; 2023
              <a href="." class="link-secondary">Tabler</a>.
              All rights reserved.
            </li>
            <li class="list-inline-item">
              <a href="./changelog.html" class="link-secondary" rel="noopener">
                v1.0.0-beta20
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>
</div>
<!-- Libs JS -->
<!-- Tabler Core -->
<script src="./dist/js/tabler.min.js?1692870487" defer></script>
<script src="./dist/js/demo.min.js?1692870487" defer></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.10/jspdf.plugin.autotable.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script src="{% static 'js/fisconfig.js' %}" defer></script>
<script>
  // Function to retrieve token from localStorage
  function getToken() {
      return localStorage.getItem('accessToken');
  }

  // Function to check if the token is available
  function isTokenAvailable() {
      const token = getToken();
      return token !== null && token !== undefined && token !== '';
  }

  // Function to redirect to login if token is not available
  function redirectToLogin() {
      console.log('Token not found. Redirecting to login.');
      window.location.href = "/index";
  }

  // Check if token is available and redirect if not
  if (!isTokenAvailable()) {
      redirectToLogin();
  }
  $(document).ready(function () {
      // Populate Academic Year Dropdown
$.ajax({
  url: "https://schedulerserver-6e565d991c10.herokuapp.com/academicyears/getacadyr",
  type: 'GET',
  headers: {
      'Authorization': `Bearer ${getToken()}`
  },
  success: function (response) {
      if (response.data && response.data.length > 0) {
          response.data.forEach(function (academicYear) {
              $('#academicyearDropdown').append(`<option value="${academicYear.name}" data-id="${academicYear.id}">${academicYear.name}</option>`);
          });
      } else {
          console.log('No academic years found.');
      }
  },
  error: function (xhr, status, error) {
      console.log('Error fetching academic years:', xhr.responseText);
  }
});

// Populate Semester Dropdown
$.ajax({
  url: "https://schedulerserver-6e565d991c10.herokuapp.com/semesters/getsemester",
  type: 'GET',
  headers: {
      'Authorization': `Bearer ${getToken()}`
  },
  success: function (response) {
      if (response.data && response.data.length > 0) {
          response.data.forEach(function (semester) {
              $('#semesterDropdown').append(`<option value="${semester.name}" data-id="${semester.id}">${semester.name}</option>`);
          });
      } else {
          console.log('No semesters found.');
      }
  },
  error: function (xhr, status, error) {
      console.log('Error fetching semesters:', xhr.responseText);
  }
});

     // Fetch faculties and populate the Faculty Dropdown
function fetchFaculties() {
                  // Set up the request headers
                  var headers = {
                    'Authorization': 'API-Key',
                    'token': fistoken
                };
  $.ajax({
      url: "https://pupqcfis-com.onrender.com/api/all/FISFaculty",
      type: "GET",
      headers: headers,
      success: function (response) {
          // Populate the dropdown with faculty names
          const facultyDropdown = $("#FacultyDropdown");
          facultyDropdown.empty();

          if (response && response.Faculties && Object.keys(response.Faculties).length > 0) {
              // Iterate over faculties and add them to the dropdown
              Object.values(response.Faculties).forEach(function (faculty) {
                  const fullName = `${faculty.FirstName} ${faculty.LastName}`;
                  facultyDropdown.append(`<option value="${faculty.FacultyId}">${fullName}</option>`);
              });

              // Initialize Select2 on the dropdown
              facultyDropdown.select2({
                  width: '100%',
                  placeholder: 'Search for a faculty',
                  allowClear: true
              });
          } else {
              console.log('No data to display.');
          }
      },
      error: function (xhr, status, error) {
          console.error("Error fetching faculties:", xhr.responseText);
      }
  });
}
fetchFaculties();
$('#generate-pdf-new-page').on('click', function () {
  // Create a new jsPDF instance with landscape orientation
  const pdf = new jsPDF({
    orientation: 'landscape'
  });
  // Load the image and convert it to a data URI
  const img = new Image();
  img.crossOrigin = "Anonymous";
  img.onload = function() {
    const canvas = document.createElement('canvas');
    const ctx = canvas.getContext('2d');
    const scaleFactor = 0.5; // Adjust the scale factor as needed
    canvas.width = img.width * scaleFactor;
    canvas.height = img.height * scaleFactor;
    ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
    const imgData = canvas.toDataURL('image/png');

    // Add the image to the header
    pdf.addImage(imgData, 'PNG', 28, 5, 30, 23); // Adjust the coordinates and dimensions as needed

  // Add the header
  pdf.setFontSize(10);
  pdf.text('Republic of the Philippines', 60, 12);
  pdf.setFontType('bold');
  pdf.text('POLYTECHNIC UNIVERSITY OF THE PHILIPPINES', 60, 18, { opacity: 0.5 });
  pdf.setFontType('normal');
  pdf.text('OFFICE OF THE VICE PRESIDENT FOR CAMPUSES', 60, 22, { opacity: 0.5 });
  pdf.setFontSize(10);
  pdf.setFontType('bold');
  pdf.text('QUEZON CITY CAMPUS', 60, 27);

  // Add an underline
  pdf.line(13, 30, 284, 30);

  // Add the "SCHEDULE OF CLASSES" section
  pdf.setFont('Arial');
  pdf.setFontType('bold');
  pdf.setFontSize(10);
  pdf.text('SCHEDULE OF CLASSES', 125, 40);
  const academicYear = $('#academicYearDetails').text();
  const semester = $('#semesterDetails').text();
  pdf.text(`${semester}, ${academicYear}`, 120, 45);

  // Add information above the table
  pdf.setFontSize(10);
  pdf.setFontType('bold');
  const facultyName = $('#Facultynamedetails').text();
  pdf.text(`FACULTY MEMBER: ${facultyName}`, 20, 55);
  const facultytype = $('#facultytypeDetails').text();
  pdf.text(`STATUS: ${facultytype}`, 20, 60);
  const totalunits = $('#totalunitDetails').text();
  pdf.text(`No. of units: ${totalunits}`, 200, 55);
  const totalhours = $('#totalhoursDetails').text();
  pdf.text(`No. of Hours per week: ${totalhours}`, 200, 60);
// Construct the table content (assuming you have a table with the id 'facultyLoadingTableBody')
const columns = ['Subject Code', 'Description', 'Lec hrs', 'Lab hrs', 'Tuition hrs', 'Credited units', 'Section', 'Day/Time', 'Room no.'];
const data = [];

$('#facultyLoadingTableBody tr').each(function () {
  const row = [];
  $(this).find('td').each(function () {
    row.push($(this).text());
  });
  data.push(row);
});

// Define styles for the table cells
const styles = {
  cellPadding: 1,
  valign: 'middle', // Vertical alignment for all columns
  halign: 'center' // Horizontal alignment for all columns
};

// Define column styles for center alignment of specific columns
const columnStyles = {
  2: { halign: 'center', valign: 'middle' }, // Lec hrs
  3: { halign: 'center', valign: 'middle' }, // Lab hrs
  4: { halign: 'center', valign: 'middle' }, // Tuition hrs
  5: { halign: 'center', valign: 'middle' }, // Credited units
  8: { halign: 'center', valign: 'middle' } // Day/Time
};

// populate yung table and apply tayo ng landscape para fit sa orientation
pdf.autoTable({
  head: [columns],
  body: data,
  startY: 63,
  headStyles: { fillColor: [139, 0, 0] },
  styles: styles, // Apply styles to the table cells
  columnStyles: columnStyles, // Apply column styles for alignment
  margin: { top: 10 }, // Adjust top margin as needed
  orientation: 'landscape' 
});

  pdf.setFontSize(6);
  pdf.setFontType('normal');
  const messageText = `
  The OBE syllabus/bi and the process manual for Test Administration and Evaluation, Classroom Management, Syllabus/Course Guide Preparation, Internship Process, are accessible thru https://drive.google.com/drive/folders/1-7gfqf1Enzilz7voBelAdoF9Z19uaCVV?usp=sharing.
  For further queries, you may coordinate with Ms. Ednalyn A. Bataller, administrative staff in-charge of Academic Programs Office. Likewise, as part of your IPCR under the Strategic Priority and ISO rqmts, may we request you to enhance the said syllabi and prepare the 
  Instructional Material/s on the said subject/s as well as the implementation of the mentioned processes. Afterwards, submit all these documents to the Office of the Academic Programs Head. You will still be receiving an approved Teaching Assignment, the University's official document. 
  Please acknowledge receipt of this email and as your confirmation that you are accepting the responsibility to teach this Semester.
  `;
  pdf.text(messageText, 16, pdf.autoTable.previous.finalY + 1);

  // para di sumabay sa table yung mga texts outside the table 
  //"pdf.autoTable.previous.finalY" means after ng filled table to mag pplace ng coordinates nila
  pdf.setFontSize(8);
  pdf.setFontType('normal');
  pdf.text('Thank you very much.', 20, pdf.autoTable.previous.finalY + 15);
  pdf.setFontType('bold');
  pdf.setFontSize(8);
  pdf.text('Truly yours,', 20, pdf.autoTable.previous.finalY + 20);
  pdf.setFontType('bold');
  pdf.setFontSize(8);
  pdf.text('DEMELYN E. MONZON,', 20, pdf.autoTable.previous.finalY + 30);
  pdf.setFontType('bolditalic');
  pdf.setFontSize(8); 
  pdf.text('Ph.D.', 52, pdf.autoTable.previous.finalY + 30);
  pdf.setFontType('normal');
  pdf.setFontSize(8);
  pdf.text('Head Academic Programs', 20, pdf.autoTable.previous.finalY + 33);

  // Add the footer
  pdf.setFontSize(6);
  pdf.text('Rothlehner Bldg., PUP Quezon City Campus, Don Fabian St, Commonwealth, Quezon City Direct Line: 287-82-04: 952-78-18', 20, 197, { opacity: 0.5 });
  pdf.text('Direct Line: 287-82-04: 952-78-18', 20, 200, { opacity: 0.5 });
  pdf.text('Website: www.pup.edu.ph | Email: quezoncity@pup.edu.ph', 20, 203, { opacity: 0.5 });

  // Add the faded word at the bottom
  pdf.setFontSize(10);
  pdf.setFontType('bold');
  pdf.setFont('times');
  pdf.setTextColor(139, 0, 0, 0.3); // Fading out color
  pdf.text('THE COUNTRY\'S', 20, 207);
  // Add the faded word at the bottom
pdf.setFontSize(10);
pdf.setFontType('bold');
pdf.setFont('times');
pdf.setTextColor(139, 0, 0, 0.3); // Fading out color

// Define the word and its superscript
const word = "1";
const superscript = "ST";

// Position the word and superscript
const xPosition = 50;
const yPosition = 207;
const superscriptSize = 5; // Adjust the size of the superscript as needed
const superscriptOffsetX = 2; // Adjust the X offset of the superscript as needed
const superscriptOffsetY = -1; // Adjust the Y offset of the superscript as needed

// Add the word and superscript
pdf.text(word, xPosition, yPosition);
pdf.setFontSize(superscriptSize);
pdf.textWithLink(superscript, xPosition + superscriptOffsetX, yPosition + superscriptOffsetY, { url: "" });
pdf.setFontSize(10);
pdf.setFontType('bold');
pdf.setFont('times');
pdf.setTextColor(139, 0, 0, 0.3); // Fading out color
pdf.text('POLYTECHNIC', 55, 207);
  // Add the faded word at the bottom
  pdf.setFontSize(11);
  pdf.setFontType('bold');
  pdf.setFont('times');
  pdf.setTextColor(139, 0, 0, 0.3); // Fading out color
  pdf.text('U', 81, 207);

   // Save the PDF
   pdf.save('Faculty_schedule.pdf');
  };
  img.src = '{% static "img/PUPLogo.png" %}'; // Replace this with the path to your image
});


$('#searchButton').on('click', function () {
  // Get selected values and names from dropdowns
  const academicYearId = $('#academicyearDropdown option:selected').data('id');
  const academicYearName = $('#academicyearDropdown option:selected').text();
  const semesterId = $('#semesterDropdown option:selected').data('id');
  const semesterName = $('#semesterDropdown option:selected').text();
  const facultyName = $('#FacultyDropdown option:selected').text()
  
  // Get faculty ID as value, not the full name
  const facultyId = $('#FacultyDropdown').val();
    
        // Make a request to get filtered faculty loading data
        $.ajax({
            url: "https://schedulerserver-6e565d991c10.herokuapp.com/facultyloadings/filterfindfaculty",
            type: 'GET',
            data: {
                acadyear_id: academicYearId,
                semester_id: semesterId,
                facultyid: facultyId
            },
            headers: {
                'Authorization': `Bearer ${getToken()}`
            },
            success: function (response) {
                // Populate the table with the filtered data
                populateFacultyLoadingTable(response);
    
                // Update the details based on the selected values
                $('#academicYearDetails').text(academicYearName || 'Academic Year');
                $('#semesterDetails').text(semesterName || 'Semester');
    
                // Display facultyname in the h1 element
                $('#Facultynamedetails').text(facultyName || 'Faculty Name');
    
                // Check if 'facultystatus' is available in the response
                const facultystatus = response.length > 0 ? response[0].facultystatus : null;
                $('#facultytypeDetails').text(facultystatus || 'Not set');
                const totalunits = response.length > 0 ? response[0].totalunits : null;
                $('#totalunitDetails').text(totalunits || '0');
                const totalHours = response.length > 0 ? response[0].totalhours : null;
                $('#totalhoursDetails').text(totalHours || '0');
                
            },
            error: function (xhr, status, error) {
                console.log('Error fetching filtered faculty loading data:', xhr.responseText);
            }
        });
    });

    function populateFacultyLoadingTable(data) {
      const facultyLoadingTableBody = $('#facultyLoadingTableBody');
      facultyLoadingTableBody.empty();
    
      if (data && data.length > 0) {
        // Define an object mapping days to their index in the week
        const dayIndexMap = {
          "Sun": 0,
          "Mon": 1,
          "Tue": 2,
          "Wed": 3,
          "Thu": 4,
          "Fri": 5,
          "Sat": 6
        };
    
        // Sort the data by day and start_time
        data.sort((a, b) => {
          // First, compare by day index
          const dayIndexA = dayIndexMap[a.day.substring(0, 3)];
          const dayIndexB = dayIndexMap[b.day.substring(0, 3)];
          if (dayIndexA !== dayIndexB) {
            return dayIndexA - dayIndexB;
          }
          // If days are the same, compare by start_time
          return a.fstart_time.localeCompare(b.fstart_time);
        });
    
        data.forEach(function (facultyLoading) {
          const shortenedDay = facultyLoading.day.substring(0, 3);
          const formattedTime = formatTime(facultyLoading.fstart_time) + " - " + formatTime(facultyLoading.fend_time);
          facultyLoadingTableBody.append(`
            <tr>
              <td>${facultyLoading.course_code}</td>
              <td>${facultyLoading.course_description}</td>
              <td>${facultyLoading.lec}</td>
              <td>${facultyLoading.lab}</td>
              <td>${facultyLoading.tuition_hours}</td>
              <td>${facultyLoading.units}</td>
              <td>${facultyLoading.classname}</td>
              <td>${shortenedDay} ${formattedTime}</td>
              <td>${facultyLoading.roomname}</td>
            </tr>
          `);
        });
      } else {
        console.log('No faculty loading data found.');
      }
    }
    
    // Function to format time (e.g., convert 07:00:00 to 7:00 AM)
    function formatTime(time) {
      const formattedTime = new Date(`1970-01-01T${time}`);
      return formattedTime.toLocaleTimeString([], { hour: 'numeric', minute: '2-digit' });
    }
  });
  
</script>
</body>
</html>